.top__menu{
    padding: 11px 0;
    background: #0e264f;
    position: relative;
    z-index: 1;
    display: flex;  
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    

    gap: 90px ;
}
.site{ 
    background :url(https://html.ditsolution.net/drtheme/dreamhub/dentist/assets/images/slider/hero-bg.jpg);
    ;
}
.contatos{

    display: flex;
    gap: 90px;
    text-decoration: none;
    border: 3px;
}


.cabecalho__menu{

    text-decoration: none;
    margin: 32px 12px;
    font-size: 16px;
    color: #0e264f;
    font-weight: 500;
    transition: .5s;
    gap: 60px;
    background-color: #fff;
    
    padding: 2px;
    
}
.cabecalho__menu__itens{
    gap: 40px;
}

.cabecalho__menu__bt{
    background-color: #3BB3D8;
    border: 1px solid #3BB3D8;
    font-size: 16px;
    padding: 12px 30px;
    font-weight: 500;
    color: #fff;
    background: #3BB3D8;
    border: 1px solid #3BB3D8;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: .5s;
    
}
.tituloDestaque{
    font-size: 60px;
    line-height: 60px;
    color: #0e264f;
    font-weight: 700;
    margin: 11px 0px 0px ;
    display: flex;
}
.cabecalho__menu__bt:hover{
    background-color: #fff;
    color: #3BB3D8;
}
.texto__inuicial{
    font-size:  20px;
    display: flex;
    justify-content: center;
    margin: 0px 0px 16px;
    padding: 15px 0px 0px ;
    width: 40%;
 }
 .cabecalho__menu__bt2{
    background-color: #fff;
    border: 1px solid #3BB3D8;
    font-size: 16px;
    padding: 12px 30px;
    font-weight: 500;
    color: #3BB3D8; 
    background: #fff;
    border: 1px solid #3BB3D8;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: .5s;


 }
.img{
    display: flex;
justify-content: right;
}


    
 
 
 #caixa1{
    width: 300px;
    height: 300px;
    background-color:white;
    margin: 2px ;

 }
 #caixa1:hover{
    background-color: #3BB3D8;
    

 }

 