.container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
     "cap cap cap"
      "rd rd rd";
   

    border: 1px solid rgb(128, 28, 86);
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;

}
.item1{
    grid-area: cap;
    background-color: burlywood;
    border: 1px solid black;
}

.item2{
    grid-area: rd;
    background-color: #8cffa0;
    border: 1px solid black;
}